body {
    margin: 0;
    padding: 0;
    background-color: yellow;
    background-image: url('./assets/noche.jpg'); 
    animation: pokeballsAnimation 15s infinite linear;
    background-size: cover;
    background-attachment:fixed; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
/*   @keyframes pokeballsAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  } */
  