/* Estilos para los selects con la clase 'orderFilters' */
.orderFilters {
  padding: 8px 12px; /* Ajuste de espaciado interno para el texto */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde con color gris claro */
  border-radius: 7px; /* Bordes redondeados */
  background-color: #25220e; /* Fondo oscuro */
  color: #ffffff; /* Color de texto */
  outline: none; /* Elimina el resaltado predeterminado al enfocar */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  margin: 10px; /* Espaciado entre los selects */

  /* Estilo cuando se enfoca el select */
  &:focus {
    border-color: #0b0b0b; /* Borde azul al enfocar */
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); /* Sombra al enfocar */
  }

  /* Estilo cuando se pasa el mouse sobre el select */
  &:hover {
    background-color: #e6ee07; /* Fondo amarillo al pasar el mouse */
    color: black;
  }

  /* Estilo para los options dentro del select */
}
.option {
  background-color: #e6ee07; /* Fondo amarillo para options al pasar el mouse */
  color: black; /* Color de texto para options al pasar el mouse */
}

/* Estilos adicionales para los filtros y ordenamientos */
@media screen and (max-width: 576px) {
  .orderFilters {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 10px 0; /* Espaciado en la parte superior e inferior */
  }

  .orderFilters {
    flex-direction: column; /* Muestra los elementos en columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos verticalmente */
  }
}

/* Estilos para el loading */
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px; /* Ancho máximo para evitar que sea demasiado grande en pantallas grandes */
  text-align: center;
  padding: 20px;
  z-index: 999; /* Asegura que esté en la parte superior */
}

.loading p {
  font-size: 24px;
  color: #020202; /* Color del texto */
  font-weight: bold;
  /* Otros estilos de texto que desees */

  /* Animación de onda */
  animation: wave .7s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
