@font-face {
    font-family: 'PokemonFont'; /* El nombre que quieras darle a la fuente */
    src: url('../../assets/PocketMonk-15ze.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}

:root {
    --red: #FF0000; 
    --white: #FFFFFF; 
    --black: #000000; 
}

.card-container {
    list-style: none;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #222;
    text-align: center;
    width: 150px; /* Establece un ancho más pequeño para las cartas */
    height: 225px; /* Establece una altura más pequeña para las cartas */
    overflow: hidden; /* Oculta el contenido que se desborda */
    position: relative; /* Permite posicionar elementos internos */
    border-radius: 30px;
    box-shadow: 8px 9px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 9px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 9px 5px 0px rgba(0, 0, 0, 0.75);
    border: 3px solid var(--black);
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card-container:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    font-family: 'PokemonFont', sans-serif;
    text-transform: capitalize;
    margin-top: -.5rem;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 2.5rem;
    text-decoration: none;
}

.card-types {
    font-family: 'PokemonFont', sans-serif;
    text-transform: capitalize;
    margin-top: -1rem;
    color: #050505;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 60px;
    padding: 0;
}

.pokemon-img {
    margin-top: -1rem;
    height: 9rem; /* Establece una altura más pequeña para las imágenes */
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
