@font-face {
  font-family: 'PokemonFont'; /* El nombre que quieras darle a la fuente */
  src: url('../../assets/PocketMonk-15ze.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
  font-weight: normal;
  font-style: normal;
}
/* Navbar Container */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado interno */
  }
  
  /* Botones de la Navbar */
  .button-home,
  .button-back {
    font-family: 'PokemonFont', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #ffd904;
    padding: 10px 20px;
    font-size: 23px;
    cursor: pointer;
    color: rgb(1, 1, 1);
    transition: all 0.2s ease;
  
  }
  .button-exit{
    font-family: 'PokemonFont', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #ff0303;
    padding: 10px 20px;
    font-size: 23px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease;
  }
  
  .button-home:hover,
  .button-back:hover{
    color: #ffffff;
    box-shadow: 0 4px 16px #ffffff;
    background-color: #1c04f3;
  }

  .button-back a{
    text-decoration: none;
    color: inherit; /* Hereda el color del contenedor padre */
  }
  .button-home a{
    text-decoration: none;
    color: inherit; /* Hereda el color del contenedor padre */
  }
  .button-exit a{
    text-decoration: none;
    color: inherit; /* Hereda el color del contenedor padre */
  }

  .button-exit:hover{
    color: #ffffff;
    box-shadow: 0 4px 16px #e80707;
    background-color: #ff0202;
  }
  .button-home{
  
    margin-right: 5rem;
  }
  